@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
/*----------------------------
	RESET: START
------------------------------*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core root defaults */
html {
  scroll-behavior: smooth; }

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px); }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

/*----------------------------
	Visually hidden
----------------------------*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 24px;
  margin: 0 1rem; }

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* The slider */
.slide {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.slide:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s; }

.check:checked + .slide:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px); }

/* Rounded sliders */
.slide.round {
  border-radius: 34px; }

.slide.round:before {
  border-radius: 50%; }

.slidecontainer {
  width: 100%;
  /* Width of the outside container */ }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cdd7ee;
  transition: 0.4s; }

.slider:before {
  position: absolute;
  content: '';
  height: 60%;
  width: 35%;
  left: 6%;
  bottom: 18%;
  background-color: white;
  transition: 0.4s; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3; }

.slider.round {
  border-radius: 60px; }

.slider.round:before {
  border-radius: 60px; }

input:checked + .slider:before {
  transform: translateX(150%); }

input:checked + .slider {
  background-color: #10d5c2; }

.slide-bar {
  position: relative;
  width: 100%;
  border-radius: 3px;
  height: 8px;
  background: #eaeefb;
  margin-top: 1rem; }

.slide-bar img {
  position: absolute; }

input[type='range'] {
  -webkit-appearance: none;
  z-index: 9;
  background: transparent; }

input[type='range']:focus {
  outline: none; }

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #10d5c2;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: #10d5c2 3px 10px 35px;
  cursor: pointer;
  position: relative;
  background-image: url(/images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center; }

#input {
  width: 100%;
  display: block;
  margin: 0;
  height: 8px;
  cursor: pointer;
  appearance: none;
  border-radius: 5px;
  position: absolute; }

input[type='range']::-moz-range-track {
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  background: invisible;
  width: 100%; }

input[type='range']::-webkit-slider-runnable-track {
  border: none;
  border-radius: 3px;
  -webkit-appearance: none;
  background: invisible;
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (min-width: 600px) {
    html {
      font-size: 50%; } }
  @media (min-width: 900px) {
    html {
      font-size: 50%; } }
  @media (min-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Manrope', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-color: #fafbff;
  background-position-y: -10%; }

.container {
  margin-bottom: 5rem; }
  @media (min-width: 900px) {
    .container {
      height: 100vh; } }

.top-text {
  padding: 3.5rem 2.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center; }
  @media (min-width: 900px) {
    .top-text {
      margin-bottom: 3rem;
      padding: 5.5rem 2.5rem; } }

@media (min-width: 600px) {
  .top-text h2 {
    font-size: 3rem; } }

@media (min-width: 900px) {
  .top-text h2 {
    font-size: 3.1rem; } }

.top-text p {
  margin: auto;
  width: 66%;
  color: #858fad; }
  @media (min-width: 900px) {
    .top-text p {
      font-size: 1.8rem;
      width: 100%; } }

.card {
  width: 90%;
  max-width: 500px;
  background-color: white;
  margin: auto;
  border-radius: 7px;
  text-align: center; }

.card-top-container {
  padding: 2rem; }
  @media (min-width: 900px) {
    .card-top-container {
      padding: 5rem 4rem 3rem 4rem; } }

.card-top {
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .card-top {
      flex-direction: row;
      flex-wrap: wrap; } }

hr {
  background-color: #cdd7ee;
  border: none;
  height: 1px;
  margin-bottom: 4rem; }
  @media (min-width: 900px) {
    hr {
      margin-bottom: 3rem; } }

.card-bottom {
  display: flex;
  flex-direction: column; }
  @media (min-width: 900px) {
    .card-bottom {
      flex-direction: row;
      justify-content: space-around;
      align-items: center; } }

.pageviews {
  margin-bottom: 4rem;
  color: #858fad;
  text-transform: uppercase;
  font-weight: 600; }
  @media (min-width: 900px) {
    .pageviews {
      flex: 50%;
      order: 1; } }

.monthly {
  margin-bottom: 2rem;
  color: #858fad; }
  @media (min-width: 900px) {
    .monthly {
      flex: 50%;
      order: 2; } }

.monthly-dollar {
  font-size: 3rem;
  margin-right: 1rem;
  font-weight: 800;
  color: #000; }

.billing-container {
  margin-bottom: 4rem;
  position: relative; }
  @media (min-width: 900px) {
    .billing-container {
      margin-bottom: 0; } }

.billing {
  font-size: 1.2rem;
  color: #858fad; }

.discount {
  margin-left: 1.5rem;
  background-color: #feece7;
  color: #ff8c66;
  border-radius: 25px;
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  position: absolute; }

.discount-wide {
  display: none; }
  @media (min-width: 900px) {
    .discount-wide {
      display: inline-block; } }

.benefits {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  color: #858fad;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem; }
  .benefits:last-of-type {
    margin-bottom: 3rem; }
    @media (min-width: 900px) {
      .benefits:last-of-type {
        margin-bottom: 2rem; } }
  @media (min-width: 900px) {
    .benefits {
      width: 100%; } }

.slide-component {
  position: relative;
  margin-bottom: 5rem; }
  @media (min-width: 900px) {
    .slide-component {
      flex: 100%;
      order: 3; } }

.progress-overlay {
  position: absolute;
  width: 50%;
  height: 12px;
  top: 0;
  left: 0;
  background: #a5f3eb;
  border-radius: 10px; }

.start-button {
  color: white;
  background-color: #293356;
  border-radius: 40px;
  border: none;
  padding: 1rem 3rem;
  margin-bottom: 4rem; }

.attribution {
  font-size: 11px;
  text-align: center;
  display: block; }

.attribution a {
  color: #3e52a3; }
