@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import 'reset';
@import 'variables';
@import 'switch';
@import 'slider';

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Manrope', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: $veryPaleBlue;
}

.top-text {
  padding-top: 4rem;
  margin-bottom: 3rem;
  text-align: center;
}

.card {
  width: 90%;
  background-color: $white;
  margin: auto;
  border-radius: 7px;
  text-align: center;
  padding: 2rem;
}

.pageviews {
  margin-bottom: 2rem;
}

.monthly {
  margin-bottom: 2rem;
}

.monthly-dollar {
  font-size: 3rem;
}

.discount {
  background-color: $lightGrayishRed;
  border-radius: 10px;
  padding: 0.3rem;
}

.slide-component {
  position: relative;
}
.progress-overlay {
  position: absolute;
  width: 50%;
  height: 16px;
  top: 0;
  left: 0;
  background: hsl(174, 77%, 80%);
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
