@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import 'reset';
@import 'variables';
@import 'switch';
@import 'slider';

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Manrope', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-image: url(/images/bg-pattern.svg);

  background-repeat: no-repeat;
  background-color: $veryPaleBlue;
  background-position-y: -10%;
  @include respond(tab-port) {
    background-position-y: 0;
  }
}

.container {
  margin-bottom: 5rem;
  @include respond(tab-port) {
    height: 100vh;
  }
}

.top-text {
  margin-top: 5rem;
  padding: 3.5rem 2.5rem;
  margin-bottom: 2.7rem;
  text-align: center;
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  @include respond(tab-port) {
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 7.5rem 2.5rem;
  }
}

.top-text h2 {
  margin-bottom: 1.2rem;
  @include respond(phone) {
    font-size: 3rem;
  }

  @include respond(tab-port) {
    font-size: 3.1rem;
    margin-bottom: 1rem;
  }
}

.top-text p {
  margin: auto;
  width: 66%;
  color: $grayishBlue;
  @include respond(tab-port) {
    font-size: 1.8rem;
    width: 100%;
  }
}

.card {
  width: 90%;
  max-width: 500px;
  background-color: $white;
  margin: auto;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);

  @include respond(tab-port) {
    max-width: 550px;
  }
}

.card-top-container {
  padding: 3rem 2rem 2rem 2rem;

  @include respond(tab-port) {
    padding: 4.5rem 4rem 4rem 4rem;
  }
}

.card-top {
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

hr {
  background-color: $lightGrayishBlue;
  border: none;
  height: 1px;
  margin-bottom: 2.5rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.card-bottom {
  display: flex;
  flex-direction: column;

  @include respond(tab-port) {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
  }
}

.pageviews {
  margin-bottom: 3rem;
  color: $grayishBlue;
  text-transform: uppercase;
  font-weight: 400;

  @include respond(tab-port) {
    font-size: 1.7rem;
    font-weight: 800;
    flex: 50%;
    order: 1;
    letter-spacing: 2px;
    padding-top: 2rem;
    margin-bottom: 4rem;
    font-weight: 600;
  }
}

.monthly {
  margin-bottom: 3.5rem;
  color: $grayishBlue;

  @include respond(tab-port) {
    flex: 50%;
    order: 2;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
}

.monthly-dollar {
  font-size: 3.4rem;
  margin-right: 1rem;
  font-weight: 800;
  color: #000;
  @include respond(tab-port) {
    font-size: 4.3rem;
  }
}

.billing-container {
  margin-bottom: 1rem;
  position: relative;
  @include respond(tab-port) {
    margin-bottom: 0;
  }
}

.billing {
  font-size: 1.2rem;
  color: $grayishBlue;
}
.discount {
  margin-left: 0.9rem;
  background-color: $lightGrayishRed;
  color: $lightRed;
  border-radius: 25px;
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  position: absolute;

  @include respond(tab-port) {
    margin-left: 1.5rem;
  }
}

.discount-wide {
  display: none;
  @include respond(tab-port) {
    display: inline-block;
  }
}

.benefits {
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  color: $grayishBlue;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;

  @include respond(tab-port) {
    font-size: 1.4rem;
  }

  &:last-of-type {
    margin-bottom: 3rem;

    @include respond(tab-port) {
      margin-bottom: 2rem;
    }
  }

  @include respond(tab-port) {
    width: 100%;
  }
}

.benefits img {
  margin-right: 2rem;
}

.slide-component {
  position: relative;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    flex: 100%;
    order: 3;
    margin-bottom: 6rem;
  }
}
.progress-overlay {
  position: absolute;
  width: 50%;
  height: 12px;
  top: 0;
  left: 0;
  background: hsl(174, 77%, 80%);
  border-radius: 10px;
}

.start-button {
  color: $lightGrayishBlue;
  background-color: $darkDesaturatedBlue;
  border-radius: 40px;
  border: none;
  padding: 1rem 4rem;
  margin-bottom: 3rem;

  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
