@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import 'reset';
@import 'variables';
@import 'switch';
@import 'slider';

html {
  font-size: 62.5%; //1rem = 10px
  @include respond(phone) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-land) {
    font-size: 50%; //1rem = 8px
  }
  @include respond(tab-port) {
    font-size: 56.25%; //1rem = 9px
  }
  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }
}

body {
  font-family: 'Manrope', Helvetica, sans-serif;
  font-size: 1.5rem;
  background-image: url(/images/bg-pattern.svg);

  background-repeat: no-repeat;
  background-color: $veryPaleBlue;
  background-position-y: -10%;
}

.top-text {
  padding: 4rem;
  margin-bottom: 3rem;
  text-align: center;
  background-image: url(/images/pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.card {
  width: 90%;
  background-color: $white;
  margin: auto;
  border-radius: 7px;
  text-align: center;
  padding: 2rem;
}

.pageviews {
  margin-bottom: 4rem;
}

.monthly {
  margin-bottom: 2rem;
}

.monthly-dollar {
  font-size: 3rem;
  margin-right: 1rem;
}

.billing-container {
  margin-bottom: 4rem;
}

.billing {
  font-size: 1.2rem;
}
.discount {
  background-color: $lightGrayishRed;
  border-radius: 10px;
  padding: 0.3rem;
}

.benefits {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &:last-of-type {
    margin-bottom: 3rem;
  }
}

.slide-component {
  position: relative;
  margin-bottom: 5rem;
}
.progress-overlay {
  position: absolute;
  width: 50%;
  height: 12px;
  top: 0;
  left: 0;
  background: hsl(174, 77%, 80%);
  border-radius: 10px;
}

.start-button {
  color: $white;
  background-color: $darkDesaturatedBlue;
  border-radius: 40px;
  border: none;
  padding: 1rem 3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  display: block;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
